<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="thinkpad_x13_gen1_laptop">

  <xacro:property name="base_length" value="0.305"/>
  <xacro:property name="base_width" value="0.217"/>
  <xacro:property name="base_thickness" value="0.015"/>
  <xacro:property name="base_mass" value="1.05"/>

  <xacro:property name="lid_length" value="0.305"/>
  <xacro:property name="lid_width" value="0.217"/>
  <xacro:property name="lid_thickness" value="0.006"/>
  <xacro:property name="lid_mass" value="0.55"/>

  <xacro:property name="hinge_x" value="0.0"/>
  <xacro:property name="hinge_y" value="-0.1085"/>
  <xacro:property name="hinge_z" value="0.015"/>

  <material name="base_red">
    <color rgba="1 0 0 1"/>
  </material>

  <material name="lid_blue">
    <color rgba="0 0 1 1"/>
  </material>

  <link name="laptop_world"/>

  <link name="laptop_base_link">
    <inertial>
      <origin xyz="0 0 ${base_thickness / 2.0}" rpy="0 0 0"/>
      <mass value="${base_mass}"/>
      <inertia
        ixx="${(base_mass / 12.0) * (base_width * base_width + base_thickness * base_thickness)}"
        ixy="0.0"
        ixz="0.0"
        iyy="${(base_mass / 12.0) * (base_length * base_length + base_thickness * base_thickness)}"
        iyz="0.0"
        izz="${(base_mass / 12.0) * (base_length * base_length + base_width * base_width)}"/>
    </inertial>
    <visual>
      <origin xyz="0 0 ${base_thickness / 2.0}" rpy="0 0 0"/>
      <geometry>
        <box size="${base_length} ${base_width} ${base_thickness}"/>
      </geometry>
      <material name="base_red"/>
    </visual>
    <collision>
      <origin xyz="0 0 ${base_thickness / 2.0}" rpy="0 0 0"/>
      <geometry>
        <box size="${base_length} ${base_width} ${base_thickness}"/>
      </geometry>
    </collision>
  </link>

  <joint name="laptop_world_to_base" type="fixed">
    <parent link="laptop_world"/>
    <child link="laptop_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="lid_link">
    <inertial>
      <origin xyz="0 ${lid_width / 2.0} ${lid_thickness / 2.0}" rpy="0 0 0"/>
      <mass value="${lid_mass}"/>
      <inertia
        ixx="${(lid_mass / 12.0) * (lid_width * lid_width + lid_thickness * lid_thickness)}"
        ixy="0.0"
        ixz="0.0"
        iyy="${(lid_mass / 12.0) * (lid_length * lid_length + lid_thickness * lid_thickness)}"
        iyz="0.0"
        izz="${(lid_mass / 12.0) * (lid_length * lid_length + lid_width * lid_width)}"/>
    </inertial>
    <visual>
      <origin xyz="0 ${lid_width/ 2.0} ${lid_thickness / 2.0}" rpy="0 0 0"/>
      <geometry>
        <box size="${lid_length} ${lid_width} ${lid_thickness}"/>
      </geometry>
      <material name="lid_blue"/>
    </visual>
    <collision>
      <origin xyz="0 ${lid_width / 2.0} ${lid_thickness / 2.0}" rpy="0 0 0"/>
      <geometry>
        <box size="${lid_length} ${lid_width} ${lid_thickness}"/>
      </geometry>
    </collision>
  </link>

  <joint name="hinge_joint" type="revolute">
    <parent link="laptop_base_link"/>
    <child link="lid_link"/>
    <origin xyz="${hinge_x} ${hinge_y} ${hinge_z}" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="0.0" upper="3.1416" effort="1.0" velocity="1.0"/>
  </joint>

</robot>